.important {
    color: red;
    font-weight: bold;
}
.all-paragraph{
    background-color: pink;
    display: block;
}
.links{
    background-color: red;
    
}
a{
    display: block;
}
p{
    display: inline;
}